<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <resizer>
    <clientcache minutes="1440"/>
    <!--<remotereader signingKey="mb383ht23sag#laf#lafF#oyfafqewt;lele1984" allowAllSignedRequests="false" allowRedirects="5"></remotereader>-->
    <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
         you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx"/>
    <plugins>
      <add name="RemoteReader"/>
      <!-- <add name="DiskCache" /> -->
      <!-- <add name="PrettyGifs" /> -->
    </plugins>
  </resizer>
  <connectionStrings>
    <!--   <add name="ACHEEntities" connectionString="metadata=res://*/ACHEModel.csdl|res://*/ACHEModel.ssdl|res://*/ACHEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LELE-NOTEBOOK\SQLEXPRESS2012;initial catalog=Dinamica-GBR;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="ACHEEntities" connectionString="metadata=res://*/ACHEModel.csdl|res://*/ACHEModel.ssdl|res://*/ACHEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ionatan;initial catalog=grupobuziosresto;Persist Security Info=True;Trusted_Connection=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--  <add name="ACHEEntities" connectionString="metadata=res://*/ACHEModel.csdl|res://*/ACHEModel.ssdl|res://*/ACHEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=grupobuziosresto;integrated security=true;Persist Security Info=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Admin.User" value="buzios"/>
    <add key="Admin.Pwd" value="resto2014"/>
    <add key="BasicLogError" value="~/log/Error_XX.log"/>
    <add key="Email.From" value="info@grupobuziosresto.com.ar"/>
    <!--<add key="Email.To" value="ptol@seek.com.ar"/>-->
    <!--<add key="Email.Pedidos" value="ptol@seek.com.ar"/>-->
    <add key="Email.CC" value="leandrohalfon@gmail.com"/>
    <add key="GBR.CambioTemporada" value="2016-12-20"/>
  </appSettings>
  <!--<system.net>
    <mailSettings>
      <smtp from="no-reply@grupobuziosresto.com">
        <network host="mail.grupobuziosresto.com"
                 userName="no-reply@grupobuziosresto.com"
                 password="11resto33" port="25"
                 enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--<system.net>
        <mailSettings>
            <smtp from="no-reply@grupobuziosresto.com.ar" >
                <network host="mail.grupobuziosresto.com"/>
            </smtp>
          <smtp deliveryMethod="network">
            <network
              host="mail.grupobuziosresto.com"
              port="25"
              defaultCredentials="true"
        />
          </smtp>
        </mailSettings>
    </system.net>-->
  <system.web>
    <customErrors mode="Off"/>
    <!--<identity impersonate="true"/>-->
    <httpModules>
      <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
      <!--  <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>-->
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="UC" tagName="Header" src="~/controls/header.ascx"/>
        <add tagPrefix="UC" tagName="Footer" src="~/controls/footer.ascx"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>-->
  </entityFramework>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
    <httpCompression directory="%SystemDrive%inetpubtempIIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%system32inetsrvgzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
</configuration>