$wine:        #4b1534;
$wineOverlay: #a97875;
$darkWine:    #2b0017;
$dWineOverlay:#6C5C5D;
$beige:       #d0c8b5;
$beigeBorder: #ab9b84;
$brown:       #93806d;
$salmon:      #ca4d4a;
$grey:        #727176;