/* Cuprum font family */
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic);

@mixin cuprum {
  font-family: 'Cuprum', sans-serif; 
}

/* Arial font family and fallbacks */
@mixin arial {
  font-family: Arial, Helvetica, sans-serif;
}

/* Open Sans Extra Bold */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

@mixin openSansExtraBold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

/* Intro font family */
@font-face {
  font-family: 'IntroRegular';
  src: url('../fonts/intro.eot');
  src: url('../fonts/intro.eot') format('embedded-opentype'),
       url('../fonts/intro.woff2') format('woff2'),
       url('../fonts/intro.woff') format('woff'),
       url('../fonts/intro.ttf') format('truetype'),
       url('../fonts/intro.svg#IntroRegular') format('svg');
}

@mixin intro {
  font-family: 'IntroRegular';
  font-weight: normal !important;
}