@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .menus-list .menu {
    clear: both;
    margin: 0 auto 25px auto;
  }
  
  .cupons .cupon {
    width: 50%; 
  }
  
  .place-menus .menu {
    clear: both;
    margin: 0 auto 25px auto;
  }
  
  .place-info .more-info h3 {
    font-size: 14px; 
  }
  
  .place-info .more-info p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 990px) {
  .logo {
    text-align: center;
  }
  
  .logo-side-menu ul {
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .register-form input[type="text"] {
    width: 74%;
    float: left;
  }
  
  .register-banner {
    margin-top: 25px; 
  }
  
  .login-register-blocks .blocks {
    background: transparent; 
  }
  
  .login-register-blocks .blocks .block {
    width: 98%;
    max-width: 500px;
    margin: 0 auto;
    float: none !important;
    margin-bottom: 25px;
  }
  
  .place-menus .menu {
    float: none !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    margin: 25px 0 0 0;
  }
  
  .place-menus .menu .first {
    margin-top: 0; 
    height: 345px;
    text-align: center;
    padding: 0 45px;
    padding-top: 165px;
  }
}

@media screen and (max-width: 680px) {
  .cupons .cupon {
    width: 100%; 
  }
  
  .login-register-blocks .blocks {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .register-form label {
    width: 35%; 
  }
  
  .register-form input[type="text"] {
    padding-left: 15px;
    padding-right: 15px;
    width: 65%;
  }
}

@media screen and (max-width: 480px) {
  .login-register-blocks .blocks {
    background: transparent; 
  }
  
  .login-register-blocks .blocks .block {
    margin-bottom: 50px; 
  }
  
  .pre-footer ul li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .logo-side-menu.w-buy ul li a.buy {
    position: relative;
    top: 15px;
  }
  
  .top-bar.logged-in span span.name {
    display: none; 
  }
  
  .register-form {
    border: 0;
  }
  
  .register-banner {
    margin-top: 25px; 
  }
  
  .cupons .cupon {
    width: 100%; 
  }
  
  .pre-footer.footer-2 ul {
    width: 100%; 
  }
  
  .location-breadcrumbs h3 {
    font-size: 18px;
    padding-top: 8px;
  }
  
  .place-info {
    margin-bottom: 25px;
    border: 0;
  }
  
  .place-menus .menu {
    width: 100%; 
  }
  
  .place-pictures .wrapper a.thumb span.image {
    height: 70px; 
  }
}

@media screen and (max-width: 420px) {
  .logo-side-menu ul li a {
    padding: 15px 10px;
    font-size: 16px;
  }
  
  .place-menus .menu {
    margin-left: -37px; 
  }
  
  .menus-list .menu {
    margin-left: -52px; 
  }
}

@media screen and (max-width: 320px) {
  .top-bar {
    padding: 0; 
  }
  
  .location-breadcrumbs {
    padding: 0;
    
    ol.breadcrumb {
      padding-left: 0; 
      padding-right: 0;
    }
  }
  
  .logo-side-menu ul li {
    display: block;
    margin-bottom: 10px;
    border: 0;
  }
  
  .pre-footer ul li {
    border: 0; 
  }
  
  .menus-list {
    margin-left: -50px; 
  }
  
  .menus-list .continue-button {
    position: relative;
    left: 65px;
  }
  
  .register-form span.form-title {
    font-size: 18px; 
  }
  
  .register-form label {
    width: 35%; 
    font-size: 16px;
  }
  
  .register-form input[type="text"] {
    width: 65%; 
  }
  
  .cupons .cupon {
    margin-left: -24px; 
  }
  
  .place-menus .menu {
    margin-left: -65px;
    padding-left: 50px;
    padding-right: 35px; 
  }
}